---
layout: archive
title: "Data Science Boot Camp"
permalink: /datascience/
author_profile: true
---

<p>I recently graduated from Norhtwestern's Data Science and Visualization Boot Camp in August of this year.  The program was rigorous, fast-paced, and focused on the practical technical skills needed to solve data problems. Throughout the course, I gained proficiencies on numerous in-demand technologies, including Excel, Python, JavaScript, SQL Databases, Tableau, and more.  </p>
<p>Below is a list of skills and the syllabus from the course.</p>

<iframe src="../files/Syllabus.pdf" width="100%" height="500rem"> This browser does not support PDFs. Please download the PDF to view it: Download PDF </iframe>

{% include base_path %}


{% for post in site.datascience %}
  {% include archive-single.html %}
{% endfor %}

